// Bootstrap utilities
@import "bootstrap/scss/utilities";
@import "variables";

//theme utilities
//Modify utilities
$utilities: map-merge($utilities,
        ("font-family": map-merge(map-get($utilities, "font-family"),
                (values: map-merge(map-get(map-get($utilities, "font-family"), "values"),
                        (satoshi: $font-family-satoshi,
                            inter: $font-family-inter,
                        ),
                    ),
                ),
            ),

            "font-size": map-merge(map-get($utilities, "font-size"),
                (values: map-merge(map-get(map-get($utilities, "font-size"), "values"),
                        ( // lg: $font-size-lg,
                            // md: $font-size-md,
                            // sm: $font-size-sm,
                            // xs: $font-size-xs,
                        ),
                    ),
                ),
            ),
            "line-height": map-merge(map-get($utilities, "line-height"),
                (values: map-merge(map-get(map-get($utilities, "line-height"), "values"),
                        (0: 0,
                            100: 100%,
                            110: 110%,
                            120: 120%,
                            130: 130%,
                            140: 140%,
                            150: 150%,
                            160: 160%,
                            170: 170%,
                        ),
                    ),
                ),
            ),
            "border-opacity": map-merge(map-get($utilities, "border-opacity"),
                (state: hover,
                    values: map-merge(map-get(map-get($utilities, "border-opacity"), "values"),
                        (0: 0,
                            6:0.06,
                            24:0.24,
                            30: .30,
                            40: .40,
                        ),
                    ))),
            "bg-opacity": map-merge(map-get($utilities, "bg-opacity"),
                (state: hover,
                    values: map-merge(map-get(map-get($utilities, "bg-opacity"), "values"),
                        (0:0,
                            2:0.02,
                            6:0.06,
                            60:0.6,
                        ),
                    ),
                ),
            ),
            "opacity": map-merge(map-get($utilities, "opacity"),
                (state: hover,
                    values: map-merge(map-get(map-get($utilities, "bg-opacity"), "values"),
                        (70:0.7),
                    ),
                ),
            ),
            "rounded": map-merge(map-get($utilities, "rounded"),
                (values: map-merge(map-get(map-get($utilities, "rounded"), "values"),
                        (xs:10px,
                            s:12px,
                            m:20px,
                            lg:25px,
                            xl: 95px,
                        )))),
            "color": map-merge(map-get($utilities, "color"),
                (state: hover,
                ),
            ),
            "background-color": map-merge(map-get($utilities, "background-color"),
                (state: hover,
                )),
            "border-color": map-merge(map-get($utilities, "border-color"),
                (state: hover,
                ),
            ),
            "shadow": map-merge(map-get($utilities, "shadow"),
                (state: hover)),

        ));



//Add and Override utilities
$utilities: map-merge($utilities,
        ("transition": (property: transition,
                class: tr,
                values: (none: none,
                    base: all 0.3s ease,
                    fast: all 0.15s ease,
                ),
            ),

            "inset": (property: inset,
                class: inset,
                values: (0: 0,
                ),
            ),

            "z-index": (property: z-index,
                class: zi,
                values: (9: 9,
                    99: 99,
                    999: 999,
                    9999: 9999,
                ),
            ),
            "object-position": (property: object-position,
                class: object-position,
                values: (top,
                    bottom,
                    left,
                    right,
                    center,
                ),
            ),

            //Overrided
            /* "overflow": (
            responsive: true,
            property: overflow,
            values: visible hidden scroll auto,
        ),*/
        ));