// Bootstrap and its default variables

// Default variable overrides

$purple: #4527B8;
$sky-blue: #0090FF;
$blue: #849BF9;
$green: #46A758;
$pink: #B092F6;
$light: #F7F7F9;
$gray: #838383;
$orange: #F97316;


$primary: $purple;
$secondary: $blue;
$info: $sky-blue;
$success: $green;

// new variable
$font-family-satoshi: "Satoshi", sans-serif;
$font-family-inter: "Inter", sans-serif;


$min-contrast-ratio: 2.1;



@import "bootstrap/scss/variables";

$enable-negative-margins: true;


//font size
$h1-font-size: rem(56);
$h2-font-size: rem(48);
$h3-font-size: rem(38);
$h4-font-size: rem(32);
$h5-font-size: rem(24);
$h6-font-size: rem(20);

$font-size-lg: rem(18);
$font-size-md: rem(16);
$font-size-sm: rem(14);
$font-size-xs: rem(12);


// input buttons
$input-btn-padding-y: 0.625rem;
$input-btn-padding-x: 1.75rem;
$input-btn-line-height: 130%;
$btn-font-weight: $font-weight-medium;


$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;